CAS.Samples/Example 4/CAS.ConsoleDemo.SimpleConnection.Search/Service References/CinegyArchiveService/ICinegyDataAccessService53.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://zt-msi:8082/ICinegyDataAccessService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CASCommonObjects" />
  <xs:import schemaLocation="http://zt-msi:8082/ICinegyDataAccessService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CASInternalObjects" />
  <xs:import schemaLocation="http://zt-msi:8082/ICinegyDataAccessService?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/MessageContracts" />
  <xs:import schemaLocation="http://zt-msi:8082/ICinegyDataAccessService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://zt-msi:8082/ICinegyDataAccessService?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ConnectMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="port" type="xs:int" />
        <xs:element minOccurs="0" name="database" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="connectionType" type="q1:ConnectionType" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="application" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CASInternalObjects" minOccurs="0" name="wrapper" type="q2:WrapperType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q3:ConnectContext" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q4:ConnectContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q5:ConnectContext" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BaseMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q6:ConnectContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NodeMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q7:Node" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NodeIDMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q8:ConnectContext" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q9:NodeBase" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="requestType" type="q10:GET_NODE_REQUEST_TYPE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NodeChildrenIDsMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="nodeIDs" nillable="true" type="q11:ArrayOfNodeBase" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildrenMessageRequestEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q12:ConnectContext" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q13:NodeBase" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="requestType" type="q14:GET_NODE_REQUEST_TYPE" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="nodeFillingType" type="q15:NodeFillingType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NodeChildrenMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="nodes" nillable="true" type="q16:ArrayOfNode" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildrenMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q17:ConnectContext" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q18:NodeBase" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="requestType" type="q19:GET_NODE_REQUEST_TYPE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodeMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q20:ConnectContext" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q21:NodeBase" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="requestType" type="q22:GET_NODE_REQUEST_TYPE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodeMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q23:Node" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodeMessageRequestEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q24:ConnectContext" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q25:NodeBase" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="requestType" type="q26:GET_NODE_REQUEST_TYPE" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="nodeFillingType" type="q27:NodeFillingType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q28:ConnectContext" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="sp" nillable="true" type="q29:SearchParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="results" nillable="true" type="q30:ArrayOfSearchResult" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search2MessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q31:ConnectContext" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="sp" nillable="true" type="q32:Search2Parameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search2MessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="results" nillable="true" type="q33:ArrayOfSearch2Result" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchListMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q34:ConnectContext" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="sp" nillable="true" type="q35:SearchParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchListMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="results" nillable="true" type="q36:ArrayOfSearchListResult" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPagerListMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="Sp" nillable="true" type="q37:SearchPagerParameters" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q38:ConnectContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DescriptorsMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q39:ConnectContext" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="nodeType" type="q40:NODE_TYPE" />
        <xs:element minOccurs="0" name="nodeSubType" type="xs:int" />
        <xs:element minOccurs="0" name="isGrouped" type="xs:boolean" />
        <xs:element minOccurs="0" name="mask1" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="mask2" type="xs:unsignedInt" />
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="template" type="q41:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DescriptorsMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="descriptors" nillable="true" type="q42:ArrayOfDescriptorBase" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubTypeInfoMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="bildType" type="q43:BildType" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q44:ConnectContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubTypeInfoMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="subtypes" nillable="true" type="q45:SubTypeObjects" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubTypeRelationsMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubType" type="xs:int" />
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q46:ConnectContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubTypeRelationsMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="subtypes" nillable="true" type="q47:ArrayOfint" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubTypeRelationsParentsMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubType" type="xs:int" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q48:ConnectContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubTypeRelationsParentsMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="subtypes" nillable="true" type="q49:ArrayOfint" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TVFormatInfoMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q50:ConnectContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TVFormatInfoMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="tvformats" nillable="true" type="q51:TVFormatObjects" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilesPathMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q52:ConnectContext" />
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="fileType" type="q53:MAM_FILE_TYPES" />
        <xs:element minOccurs="0" name="auxFileType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quality" type="xs:int" />
        <xs:element minOccurs="0" name="isUseDegradation" type="xs:boolean" />
        <xs:element minOccurs="0" name="isArchive" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilesPathMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pathID" type="xs:int" />
        <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobsMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q54:ConnectContext" />
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q55:NodeBase" />
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="filter" nillable="true" type="q56:ArrayOfJobStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobsMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="jobs" nillable="true" type="q57:ArrayOfJobNode" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetadataMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q58:ConnectContext" />
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q59:NodeBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetadataMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="metadata" nillable="true" type="q60:MetadataSetObject" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSubscribeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q61:ConnectContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUnsubscribeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q62:ConnectContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUnsubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdatesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q63:ConnectContext" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="updates" nillable="true" type="q64:ArrayOfBaseUpdate" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GPMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q65:ConnectContext" />
        <xs:element minOccurs="0" name="m_strGPName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GPMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="results" nillable="true" type="q66:GlobalParameterObjects" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionsCountRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q67:ConnectContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ColorMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q68:ConnectContext" />
        <xs:element minOccurs="0" name="m_intIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ColorMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="results" nillable="true" type="q69:ColorParameterObjects" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogTemplateMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q70:ConnectContext" />
        <xs:element minOccurs="0" name="m_strName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogTemplateMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="results" nillable="true" type="q71:LogTemplateObjects" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserActionsMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q72:ConnectContext" />
        <xs:element minOccurs="0" name="Enabled" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserActionsMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="actions" nillable="true" type="q73:UserActionObjects" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNodeMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q74:ConnectContext" />
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q75:Node" />
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="insertPosition" nillable="true" type="q76:NodeBase" />
        <xs:element minOccurs="0" name="insertBefore" type="xs:boolean" />
        <xs:element minOccurs="0" name="extraData" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNodeMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q77:Node" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNodeMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q78:ConnectContext" />
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q79:NodeBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNodeMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreNodeMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q80:ConnectContext" />
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q81:NodeBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreNodeMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q82:Node" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenameNodeMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q83:ConnectContext" />
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q84:NodeBase" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenameNodeMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPathForNodeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q85:ConnectContext" />
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="m_NodeID" type="q86:NODEID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPathForNodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPropertyMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q87:ConnectContext" />
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q88:NodeBase" />
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="property" nillable="true" type="q89:PropertyObjectBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPropertyMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPropertiesMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q90:ConnectContext" />
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q91:NodeBase" />
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="properties" nillable="true" type="q92:PropertySetObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPropertiesMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyNodeMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q93:ConnectContext" />
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q94:NodeBase" />
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="dstParent" nillable="true" type="q95:NodeBase" />
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="insertPosition" nillable="true" type="q96:NodeBase" />
        <xs:element minOccurs="0" name="insertBefore" type="xs:boolean" />
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="newNodeID" nillable="true" type="q97:NODEID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyNodeMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q98:Node" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveNodeMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q99:ConnectContext" />
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q100:Node" />
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="dstParent" nillable="true" type="q101:NodeBase" />
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="insertPosition" nillable="true" type="q102:NodeBase" />
        <xs:element minOccurs="0" name="insertBefore" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveNodeMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q103:Node" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNodeByNodeMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q104:ConnectContext" />
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q105:Node" />
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="newNodeType" type="q106:NODE_TYPE" />
        <xs:element minOccurs="0" name="newNodeSubType" type="xs:int" />
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="dstParent" nillable="true" type="q107:NodeBase" />
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="properties" nillable="true" type="q108:PropertySetObject" />
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="insertPosition" nillable="true" type="q109:NodeBase" />
        <xs:element minOccurs="0" name="insertBefore" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNodeByNodeMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q110:Node" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HeartBeatMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q111:ConnectContext" />
        <xs:element minOccurs="0" name="m_bTouch" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HeartBeatMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nVersion" type="xs:int" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateJobMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q112:ConnectContext" />
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q113:JobNode" />
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="subjectNodes" nillable="true" type="q114:ArrayOfNode" />
        <xs:element minOccurs="0" name="isCopy" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateJobMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q115:Node" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNodeTagMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q116:ConnectContext" />
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="m_NodeID" type="q117:NODEID" />
        <xs:element minOccurs="0" name="tag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNodeTagMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveNodeTagMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q118:ConnectContext" />
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="m_NodeID" type="q119:NODEID" />
        <xs:element minOccurs="0" name="tag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveNodeTagMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TagsCloudMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q120:ConnectContext" />
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="m_NodeID" type="q121:NODEID" />
        <xs:element minOccurs="0" name="limit" type="xs:int" />
        <xs:element minOccurs="0" name="isIncludeEmpty" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TagsCloudMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="tags" nillable="true" type="q122:TagsCloudObject" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NodeLockMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q123:ConnectContext" />
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q124:NodeBase" />
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="lockType" type="q125:LockType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NodeLockMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q126:Node" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NodeUnlockMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q127:ConnectContext" />
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q128:NodeBase" />
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="lockType" type="q129:LockType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NodeUnlockMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q130:Node" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodesCountMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q131:ConnectContext" />
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q132:NodeBase" />
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="requestType" type="q133:GET_NODE_REQUEST_TYPE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodesCountMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildrenPageMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q134:ConnectContext" />
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q135:NodeBase" />
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="requestType" type="q136:GET_NODE_REQUEST_TYPE" />
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="nodeFillingType" type="q137:NodeFillingType" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageNum" type="xs:int" />
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="orderField" type="q138:OrderField" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildrenPageMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="nodes" nillable="true" type="q139:ArrayOfNode" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="totalCount" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsHasChildrenMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q140:ConnectContext" />
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="parent" nillable="true" type="q141:NodeBase" />
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="type" type="q142:NODE_TYPE" />
        <xs:element minOccurs="0" name="subtype" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsHasChildrenMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isHasChildren" type="xs:boolean" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q143:ConnectContext" />
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="type" type="q144:ProfileType" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="profile" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectionInfoMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q145:ConnectContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectionInfoMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="database" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PluginDescriptorMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q146:ConnectContext" />
        <xs:element minOccurs="0" name="recordid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PluginDescriptorMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MosObjectsMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q147:ConnectContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MosObjectsMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="objects" nillable="true" type="q148:MosObjects" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMappingMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q149:ConnectContext" />
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="type" type="q150:MappingType" />
        <xs:element xmlns:q151="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="schemaID" type="q151:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMappingMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="mapping" nillable="true" type="q152:MappingObject" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMappingMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q153:ConnectContext" />
        <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="type" type="q154:MappingType" />
        <xs:element xmlns:q155="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="schemaID" type="q155:guid" />
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMappingMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMappingMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q156:ConnectContext" />
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="type" type="q157:MappingType" />
        <xs:element xmlns:q158="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="schemaID" type="q158:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMappingMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMappingTypeMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q159:ConnectContext" />
        <xs:element xmlns:q160="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q160:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMappingTypeMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="mapping" nillable="true" type="q161:MappingTypeObject" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMappingTypeMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q162="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q162:ConnectContext" />
        <xs:element xmlns:q163="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q163:guid" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMappingTypeMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMappingTypeMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q164="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q164:ConnectContext" />
        <xs:element xmlns:q165="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q165:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMappingTypeMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMappingTypesMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q166="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q166:ConnectContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMappingTypesMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q167="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="mappings" nillable="true" type="q167:MappingTypeObjects" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialNodeMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q168="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q168:ConnectContext" />
        <xs:element xmlns:q169="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="type" type="q169:SpecialNodes" />
        <xs:element minOccurs="0" name="extraData" nillable="true" type="xs:anyType" />
        <xs:element xmlns:q170="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="nodeFillingType" type="q170:NodeFillingType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialNodeMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q171="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q171:Node" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParentByTypeMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q172="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q172:ConnectContext" />
        <xs:element xmlns:q173="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q173:NodeBase" />
        <xs:element xmlns:q174="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="type" type="q174:NODE_TYPE" />
        <xs:element minOccurs="0" name="subtype" type="xs:int" />
        <xs:element xmlns:q175="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="nodeFillingType" type="q175:NodeFillingType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParentByTypeMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q176="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q176:Node" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetadataTemplatesMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q177="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q177:ConnectContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetadataTemplatesMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q178="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="templates" nillable="true" type="q178:MetadataTemplateSetObject" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserProfileMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q179="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q179:ConnectContext" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="profile" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserProfileMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MpegProfilesMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q180="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q180:ConnectContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MpegProfilesMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q181="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="Profiles" nillable="true" type="q181:MpegProfileSetObject" />
        <xs:element xmlns:q182="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="Profiles2TVFormats" nillable="true" type="q182:MpegProfile_TVFormatObjects" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReorderNodesMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q183="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q183:ConnectContext" />
        <xs:element xmlns:q184="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="nodes" nillable="true" type="q184:ArrayOfNodeBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReorderNodesMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SplitMogMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q185="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q185:ConnectContext" />
        <xs:element xmlns:q186="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q186:NodeBase" />
        <xs:element minOccurs="0" name="splitTime" type="xs:long" />
        <xs:element xmlns:q187="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="properties1" nillable="true" type="q187:PropertySetObject" />
        <xs:element xmlns:q188="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="properties2" nillable="true" type="q188:PropertySetObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SplitMogMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q189="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="mog1" nillable="true" type="q189:MogNode" />
        <xs:element xmlns:q190="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="mog2" nillable="true" type="q190:MogNode" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinMogsMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q191="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q191:ConnectContext" />
        <xs:element xmlns:q192="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node1" nillable="true" type="q192:NodeBase" />
        <xs:element xmlns:q193="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node2" nillable="true" type="q193:NodeBase" />
        <xs:element xmlns:q194="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="properties" nillable="true" type="q194:PropertySetObject" />
        <xs:element minOccurs="0" name="isJoinProps" type="xs:boolean" />
        <xs:element minOccurs="0" name="isUseFirstProps" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinMogsMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q195="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="mog" nillable="true" type="q195:MogNode" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPresenterMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q196="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q196:ConnectContext" />
        <xs:element xmlns:q197="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q197:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPresenterMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q198="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="presenter" nillable="true" type="q198:PresenterObject" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPresentersMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q199="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q199:ConnectContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPresentersMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q200="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="presenters" nillable="true" type="q200:PresenterObjects" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEditorMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q201="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q201:ConnectContext" />
        <xs:element xmlns:q202="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q202:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEditorMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q203="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="editor" nillable="true" type="q203:EditorObject" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEditorsMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q204="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q204:ConnectContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEditorsMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q205="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="editors" nillable="true" type="q205:EditorObjects" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowStepMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q206="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q206:ConnectContext" />
        <xs:element xmlns:q207="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q207:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowStepMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q208="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="workflowStep" nillable="true" type="q208:WorkflowStepObject" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowStepsMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q209="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q209:ConnectContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowStepsMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q210="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="workflowSteps" nillable="true" type="q210:WorkflowStepObjects" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoryTypeMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q211="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q211:ConnectContext" />
        <xs:element xmlns:q212="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q212:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoryTypeMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q213="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="storyType" nillable="true" type="q213:StoryTypeObject" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoryTypesMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q214="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q214:ConnectContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoryTypesMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q215="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="storyTypes" nillable="true" type="q215:StoryTypeObjects" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnumExportPluginsMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q216="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q216:ConnectContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnumExportPluginsMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q217="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="plugins" nillable="true" type="q217:ArrayOfstring" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q218="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q218:ConnectContext" />
        <xs:element minOccurs="0" name="pluginID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pluginParams" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resultXML" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodesByTypeMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q219="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q219:ConnectContext" />
        <xs:element xmlns:q220="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q220:NodeBase" />
        <xs:element xmlns:q221="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="requestType" type="q221:GET_NODE_REQUEST_TYPE" />
        <xs:element xmlns:q222="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="nodeFillingType" type="q222:NodeFillingType" />
        <xs:element xmlns:q223="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="Type" type="q223:NODE_TYPE" />
        <xs:element minOccurs="0" name="SubType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodesByTypeMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q224="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="nodes" nillable="true" type="q224:ArrayOfNode" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SlaveDatabasesMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q225="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q225:ConnectContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SlaveDatabasesMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q226="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="databases" nillable="true" type="q226:SlaveDatabaseObjects" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NodesByFieldsMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q227="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q227:ConnectContext" />
        <xs:element xmlns:q228="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="type" type="q228:NODE_TYPE" />
        <xs:element xmlns:q229="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="properties" nillable="true" type="q229:PropertySetObject" />
        <xs:element xmlns:q230="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="requestType" type="q230:GET_NODE_REQUEST_TYPE" />
        <xs:element xmlns:q231="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="nodeFillingType" type="q231:NodeFillingType" />
        <xs:element minOccurs="0" name="subtype" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NodesByFieldsMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q232="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="nodes" nillable="true" type="q232:ArrayOfNode" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NodesByFieldMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q233="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q233:ConnectContext" />
        <xs:element xmlns:q234="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="type" type="q234:NODE_TYPE" />
        <xs:element minOccurs="0" name="subtype" type="xs:int" />
        <xs:element xmlns:q235="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="property" nillable="true" type="q235:PropertyObject" />
        <xs:element xmlns:q236="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="requestType" type="q236:GET_NODE_REQUEST_TYPE" />
        <xs:element xmlns:q237="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="nodeFillingType" type="q237:NodeFillingType" />
        <xs:element xmlns:q238="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="parent" nillable="true" type="q238:NodeBase" />
        <xs:element minOccurs="0" name="level" type="xs:int" />
        <xs:element minOccurs="0" name="searchType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NodesByFieldMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q239="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="nodes" nillable="true" type="q239:ArrayOfNode" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DescriptorsMessageRequestEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q240="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q240:ConnectContext" />
        <xs:element xmlns:q241="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="nodeType" type="q241:NODE_TYPE" />
        <xs:element minOccurs="0" name="nodeSubType" type="xs:int" />
        <xs:element minOccurs="0" name="isGrouped" type="xs:boolean" />
        <xs:element minOccurs="0" name="mask1" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="mask2" type="xs:unsignedInt" />
        <xs:element xmlns:q242="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="template" type="q242:guid" />
        <xs:element minOccurs="0" name="isAdditionalDesc" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteCommandsMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q243="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="commands" nillable="true" type="q243:CommandsChain" />
        <xs:element xmlns:q244="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q244:ConnectContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteCommandsMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAsyncCommandResultRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q245="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="commandContext" nillable="true" type="q245:AsyncCommandContext" />
        <xs:element xmlns:q246="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q246:ConnectContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAsyncCommandResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q247="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="commandResult" nillable="true" type="q247:AsyncCommandResult" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAsyncCommandsResultRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q248="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q248:ConnectContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAsyncCommandsResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q249="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="commandsResult" nillable="true" type="q249:ArrayOfAsyncCommandResult" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsyncCopyNodeMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q250="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q250:ConnectContext" />
        <xs:element xmlns:q251="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q251:NodeBase" />
        <xs:element xmlns:q252="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="dstParent" nillable="true" type="q252:NodeBase" />
        <xs:element xmlns:q253="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="insertPosition" nillable="true" type="q253:NodeBase" />
        <xs:element minOccurs="0" name="insertBefore" type="xs:boolean" />
        <xs:element xmlns:q254="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="newNodeID" nillable="true" type="q254:NODEID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsyncCopyNodeMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q255="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="commandContext" nillable="true" type="q255:AsyncCommandContext" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteLogMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q256="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q256:ConnectContext" />
        <xs:element xmlns:q257="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="logData" nillable="true" type="q257:LogData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteLogMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JobCreationInfoMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q258="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q258:ConnectContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JobCreationInfoMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q259="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="info" nillable="true" type="q259:JobCreationInfoObjects" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilesPathMessageRequestEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q260="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q260:ConnectContext" />
        <xs:element xmlns:q261="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="fileType" type="q261:MAM_FILE_TYPES" />
        <xs:element minOccurs="0" name="auxFileType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quality" type="xs:int" />
        <xs:element minOccurs="0" name="isUseDegradation" type="xs:boolean" />
        <xs:element minOccurs="0" name="mediaGroupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilesPathMessageResponseEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pathID" type="xs:int" />
        <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaGroupMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q262="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q262:ConnectContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaGroupMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q263="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="mediaGroups" nillable="true" type="q263:MediaGroupObjects" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodesCountMessageRequestEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q264="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q264:ConnectContext" />
        <xs:element xmlns:q265="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q265:NodeBase" />
        <xs:element xmlns:q266="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="requestType" type="q266:GET_NODE_REQUEST_TYPE" />
        <xs:element xmlns:q267="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="type" type="q267:NODE_TYPE" />
        <xs:element minOccurs="0" name="subtype" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodesCountMessageResponseEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBreakingNewsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q268="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q268:ConnectContext" />
        <xs:element xmlns:q269="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q269:NodeBase" />
        <xs:element minOccurs="0" name="top" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBreakingNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q270="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="nodeIDs" nillable="true" type="q270:ArrayOfNodeBase" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextJobMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessorList" nillable="true" type="xs:string" />
        <xs:element xmlns:q271="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q271:ConnectContext" />
        <xs:element minOccurs="0" name="JobStatus" type="xs:int" />
        <xs:element minOccurs="0" name="JobStatusNew" type="xs:int" />
        <xs:element xmlns:q272="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="nodeFillingType" type="q272:NodeFillingType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextJobMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q273="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q273:JobNode" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMetadataMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q274="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q274:ConnectContext" />
        <xs:element xmlns:q275="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q275:NodeBase" />
        <xs:element xmlns:q276="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="metadata" nillable="true" type="q276:MetadataSetObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMetadataMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodeIDsByTypeMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q277="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q277:ConnectContext" />
        <xs:element xmlns:q278="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q278:NodeBase" />
        <xs:element xmlns:q279="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="requestType" type="q279:GET_NODE_REQUEST_TYPE" />
        <xs:element xmlns:q280="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="Type" type="q280:NODE_TYPE" />
        <xs:element minOccurs="0" name="SubType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodeIDsByTypeMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q281="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="nodeIDs" nillable="true" type="q281:ArrayOfNodeBase" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSubClipMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q282="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q282:ConnectContext" />
        <xs:element xmlns:q283="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q283:NodeBase" />
        <xs:element xmlns:q284="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="dstParent" nillable="true" type="q284:NodeBase" />
        <xs:element xmlns:q285="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="insertPosition" nillable="true" type="q285:NodeBase" />
        <xs:element minOccurs="0" name="insertBefore" type="xs:boolean" />
        <xs:element xmlns:q286="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="newNodeID" nillable="true" type="q286:NODEID" />
        <xs:element xmlns:q287="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="properties" nillable="true" type="q287:PropertySetObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSubClipMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q288="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q288:ClipNode" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExtraDataMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q289="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q289:ConnectContext" />
        <xs:element xmlns:q290="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="node" nillable="true" type="q290:NodeBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExtraDataMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="extraData" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobProcessorGroupsMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q291="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q291:ConnectContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobProcessorGroupsMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q292="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="jobProcessorGroups" nillable="true" type="q292:JobProcessorGroupObjects" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobProcessorGroupMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q293="http://schemas.datacontract.org/2004/07/CASCommonObjects" minOccurs="0" name="context" nillable="true" type="q293:ConnectContext" />
        <xs:element minOccurs="0" name="jobProcessorGroupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobProcessorGroupMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q294="http://schemas.datacontract.org/2004/07/MessageContracts" minOccurs="0" name="jobProcessorGroup" nillable="true" type="q294:JobProcessorGroupObject" />
        <xs:element minOccurs="0" name="retCode" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>