CAS.Samples/Example 4/CAS.ConsoleDemo.SimpleConnection.Search/Service References/CinegyArchiveService/ICinegyDataAccessService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://zt-msi:8082/ICinegyDataAccessService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CASCommonObjects" />
  <xs:import schemaLocation="http://zt-msi:8082/ICinegyDataAccessService?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/MessageContracts" />
  <xs:complexType name="ArrayOfint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="int" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfint" nillable="true" type="tns:ArrayOfint" />
  <xs:complexType name="ArrayOfstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfstring" nillable="true" type="tns:ArrayOfstring" />
  <xs:complexType name="ArrayOfKeyValueOfJOB_FOLDER_TYPEJobCreationInfoObject_SRNRwcyb">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfJOB_FOLDER_TYPEJobCreationInfoObject_SRNRwcyb">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CASCommonObjects" name="Key" type="q1:JOB_FOLDER_TYPE" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MessageContracts" name="Value" nillable="true" type="q2:JobCreationInfoObject" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfJOB_FOLDER_TYPEJobCreationInfoObject_SRNRwcyb" nillable="true" type="tns:ArrayOfKeyValueOfJOB_FOLDER_TYPEJobCreationInfoObject_SRNRwcyb" />
</xs:schema>