CAS.Samples/Example 2/CAS.ConsoleDemo.SimpleConnection.GetChildren/Service References/CinegyArchiveService/CinegyServer1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/CinegyServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CinegyServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="WCFServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultID" type="ser:guid" />
      <xs:element minOccurs="0" name="FaultMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WCFServiceFault" nillable="true" type="tns:WCFServiceFault" />
</xs:schema>